<h2 id="title">Brownbag Component Demo</h2>
<p>
<br/>
<br/>
</p>
<h3>Shopping cart</h3>
{{#each item in shoppingCart}}
  <div class="row">
    <div class="col-md-2">
      {{item}}
    </div>
  </div>
{{/each}}
<p>
<br/>
<br/>
</p>
{{beer-viewer beers=beers actionAddToCart="addToCart" actionReadReview="readReviews"}}

